/* Global styles  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 2.6rem;
}
li,
button,
label,
input,
p {
  font-size: 2rem;
}
h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 3rem;
}
h4,
h5 {
  font-size: 2.8rem;
}
a{
    color: white;
    text-decoration: none;
}

/* Nav section with HEAD */

.main-head{
    background: #131c27 ;
    color: white;
}

nav{
    min-height: 10vh;
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
}
nav ul{
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

#logo{
    flex: 2 1 40rem;
}